# Database
DATABASE_URL=mysql://username:password@host:port/database_name
DB_HOST=host
DB_PORT=port
DB_USERNAME=username
DB_PASSWORD=password
DB_NAME=database_name

# Auth
NEXTAUTH_URL=url_of_your_application
NEXTAUTH_SECRET=your_nextauth_secret (openssl rand -base64 32)

# GitHub OAuth
GITHUB_CLIENT_ID=github_client_id
GITHUB_CLIENT_SECRET=github_client_secret

# # Naver OAuth
NAVER_CLIENT_ID=naver_client_id
NAVER_CLIENT_SECRET=naver_client_secret

# # Kakao OAuth
KAKAO_CLIENT_ID=kakao_client_id
KAKAO_CLIENT_SECRET=kakao_client_secret

# Environment
NODE_ENV=production